pkgbase = piliplus-bin
	pkgdesc = A Bilibili third-party client built with Flutter. | 使用Flutter开发的BiliBili第三方客户端
	pkgver = 1.1.4.13
	pkgrel = 1
	url = https://github.com/bggRGjQaUbCoE/PiliPlus
	arch = x86_64
	license = GPL-3.0
	depends = gtk3
	depends = mpv
	depends = libayatana-appindicator
	options = !debug
	source = https://github.com/bggRGjQaUbCoE/PiliPlus/releases/download/1.1.4.13/PiliPlus_linux_1.1.4+4266_amd64.tar.gz
	sha256sums = 1ff3eca0eb24dc0ccbbf7677a3113887e02914088256274cb6b66c5ebaabf341

pkgname = piliplus-bin
