pkgbase = piliplus-bin
	pkgdesc = A Bilibili third-party client built with Flutter. | 使用Flutter开发的BiliBili第三方客户端
	pkgver = 1.1.4.16
	pkgrel = 3
	url = https://github.com/bggRGjQaUbCoE/PiliPlus
	arch = x86_64
	arch = aarch64
	license = GPL-3.0
	depends = gtk3
	depends = mpv
	depends = libayatana-appindicator
	options = !debug
	source_x86_64 = https://github.com/bggRGjQaUbCoE/PiliPlus/releases/download/1.1.4.16/PiliPlus_linux_1.1.4%2B4296_amd64.tar.gz
	source_aarch64 = https://github.com/bggRGjQaUbCoE/PiliPlus/releases/download/1.1.4.16/PiliPlus_linux_1.1.4%2B4296_arm64.tar.gz
	sha256sums_x86_64 = 412d8d51f90796528a81a4b10da55dfe96b1a666427a6c2008893503193cc93d
	sha256sums_aarch64 = 0c3b876186b848c34bc42a79bf967a1f061c6ebd40488d90aab2ab38e0723381

pkgname = piliplus-bin